/* Global Styling */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#f4f6f9;
    color:#333;
    line-height:1.6;
    padding:20px;
}

/* Header Styling */

header{
    text-align:center;
    background:#2c3e50;
    color:white;
    padding:25px;
    border-radius:8px;
}

header h1{
    font-size:32px;
}

header h2{
    font-size:18px;
}

/* Navigation styling */

nav{
    margin-top: 20px;
}

nav ul{
    display:flex;
    justify-content:center;
    list-style:none;
    background:#34495e;
    border-radius:6px;
}

nav ul li{
    margin:10px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    padding:8px 14px;
    transition: width 0.3s;
}

/* Hover effect */
/* color changes when it hover */
nav ul li a:hover{
    background:#89b9af;
    border-radius:4px;
}